@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&family=Montserrat:wght@200&family=Orbitron&display=swap');

*{
  font-family: 'M PLUS 1 Code', sans-serif;;
}

html,
body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  height: 475px;
  width: 300px;
}

.display-screen {
  padding: 8px;
}

.screen-container {
  display: flex;
  grid-column: 1/ -1;;
  justify-content: end;
  align-items: flex-end;
}

button:hover{
  /* opacity: 1; */
  background-color: #3ef0b5;
}

button:active{
  background-color: seagreen;
}

.clear{
  background-color: coral;
  grid-column: span 2;
}

/* .one {
  grid-column: 1;
  grid-row: 3;
} */

.minus {
  grid-column: 4;
  grid-row: 3;
}

.multiply {
  grid-column: 4;
  grid-row: 4
}

.divide {
  grid-column: 4;
  grid-row: 5;
}

.zero {
  grid-column: 2;
}

.decimal {
  grid-column: 1;
  grid-row: 6;
}

.equal {
  grid-column: span 2;
  background-color: #d3e831;
}

.operator,
.number,
.clear {
  /* background-color: #fca503; */
  /* border-radius: 2px; */
  border: none;
}



